* {
    background-color: rgb(105, 255, 255);
}

body {
    margin-top: 15%;
    text-align:  center;
    /* justify-content: center; */
    width: 90vw;
    height: 90vh;
}

.name, input {
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

button {
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    font-size: 1em;
}

img {
    width: 20%;
    height: 30vh;
    /* border: 1px solid black; */
    margin-top: 20px;
    padding: 10px;
    object-fit: cover;
}

.images {
    justify-content: space-between;
}

#boughtPet {
    visibility: hidden;
    margin-top: 4%;
    width: 20%;
    font-size: larger;
}