body {
    text-align:  center;
    justify-content: center;
    background-color: #CDFAF6;
}

.name, input, .ageUp {
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    background-color: #CDFAF6;
}

.name {
    margin-top: 15%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ageUp {
    visibility: hidden;
    margin-left: 30%;
    margin-right: 30%;
    font-size: 2em;
}

.gameOver {
    visibility: hidden;
    margin-top: 20%;
    height: 100px;
    background-color: red;
    color: white;
    font-size: 2em;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 25px;
}

button {
    border-radius: 25px;
    padding: 10px;
    margin: 30px;
    width: 200px;
    background-color: #CDFAF6;
    border: 1px solid black;
}

#evolve {
    visibility: hidden;
    position: fixed;
    right: 0%;
    font-size: 2em;
    bottom: 10%;
    background-color: #f7d15d;

}

#home {
    position: absolute;
    border: 4px solid black;
    width: 80%;
    height: 80vh;
    transform: translateX(15%);
    margin-top: 5%;
    background-image: url("https://www.shutterstock.com/image-vector/living-room-interior-design-furniture-600nw-529549399.jpg");
    background-position-y: bottom;
    background-size: cover;
}

h1 {
    border: 1px solid black;
    height: 50px;
    background-color: #FDEBD0;
    margin: 5px;
}

ul {
    border: 1px solid black;
    text-align: justify;
    position: fixed;
    top: 55px;
    width: 15%;
    height: 25%;
    list-style-type: none;
    background-color: #f7d15d;
    margin: 5px;
    font-size: 20px;
}

#petInfo {
    right: 0%;
}

#petInfo, #instructions {
    visibility: hidden;
}

li:first-child {
    font-weight: bold;
    text-decoration: underline;
}

li {
    margin-bottom: 5px;
}

#pet1, #pet2, #pet3 {
    width: 25%;
    position: absolute;
    bottom: 0%;
    left: 35%;
    visibility: hidden;
}

#pet3 {
    bottom: 5%;
}

#pet2, #pet3 {
    width: 30%
}

@keyframes play {
    50% {
        transform: rotate(360deg);
    }
}

@keyframes petMove {
    0% {
        transform: translate(0);
    }
    10% {
        transform: translate(60%);
    }
    20% {
        transform: translate(-60%);
    }
    30% {
        transform: translate(0);
    }
}

@keyframes eatApple {
    90% {
        transform: translate(600%);
        scale: 0;
    }
}

#timer {
    position: absolute;
    bottom: 0%;
    left: 0%;

}

#apple {
    position: fixed;
    width: 20%;
    bottom: 0%;
    left: 10%;
    visibility: hidden;
}
